body{
    background-color: #fff3f3;
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: rgb(93, 93, 255);
}
a:visited{
    color: blueviolet;
}
img{
    height: 50%;
    width: 50%;
}